.empty-wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
}
.empty-wallet .empty-wallet-title {
  font-size: 32px;
  margin-bottom: 30px;
}
.empty-wallet .empty-wallet-description {
  font-size: 24px;
  font-family: "Klee One", sans-serif;
}
.empty-wallet .cashflow-link {
  text-decoration: underline;
  color: black;
  font-style: italic;
}

@media (min-width: 768px) {
  .empty-wallet {
    margin-bottom: 300px;
    margin-top: 300px;
  }
  .empty-wallet .empty-wallet-title {
    font-size: 60px;
  }
  .empty-wallet .empty-wallet-description {
    font-size: 35px;
  }
}
