.user-home-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  margin-top: 20px;
}
.user-home-page-title {
  display: none;
}
.user-home-page img {
  width: 270px;
  height: 180px;
}
.article-underline {
  border: black;
  background-color: black;
  height: 0.5px;
  width: 340px;
  margin: 20px 0 30px 0;
}
.user-home-page a {
  color: black;
  font-style: italic;
  text-decoration: underline;
}
.user-home-page h2 {
  margin-bottom: 15px;
  text-decoration: none;
}
.user-home-page-scroll {
  overflow-y: auto;
  height: 570px;
}

@media (min-width: 768px) {
  .user-home-page-title {
    display: block;
    margin-bottom: 100px;
    font-size: 20px;
  }
  .user-home-page {
    margin-top: 100px;
  }
  .user-home-page-scroll {
    height: 650px;
    margin-bottom: 50px;
    width: 500px;
  }
  .article-underline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .user-home-page img {
    width: 350px;
    height: 220px;
  }
  .user-home-page h2 {
    font-size: 35px;
  }
}

@media (min-width: 1280px) {
  .user-home-page-title {
    margin: 0;
  }
  .user-home-page .user-home-page-scroll {
    display: flex;
    height: 350px;
    width: 1300px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  .user-home-page .user-home-page-scroll h2 {
    font-size: 20px;
  }
  .user-home-page .home-page-topics {
    margin: 0 10px 0 10px;
  }
  .user-home-page img {
    width: 300px;
    height: 190px;
  }
  .user-home-page .article-underline {
    display: none;
  }
}
