@import url(wallet.css);
@import url(cashflow.css);
@import url(home.css);
@import url(login.css);
@import url(register.css);
@import url(empty-wallet.css);
@import url(empty-statistics.css);
@import url(settings.css);
@import url(statistics.css);
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin&family=Klee+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
}
html {
  height: 100%;
}
body {
  background-image: url("img/MyCoin-background.jpg");
  background-size: cover;
  max-width: 100%;
  height: 100%;
  background-attachment: fixed;
  padding: 10px;
}
.hidden-main {
}
input,
select:focus {
  outline: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header .company-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
header .company-title img {
  padding: 0 2px 0 2px;
}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: black;
}
header .navbar {
  display: flex;
  min-height: 70px;
  justify-content: center;
  align-items: center;
}
header .user-icon {
  margin-right: 15px;
}
header .nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
header .hamburger {
  display: none;
  cursor: pointer;
}
header .hamburger .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
header .pray-for-ukraine,
.social-media-icons {
  display: none;
}
header .user-dropdown-menu a {
  display: block;
  padding: 10px 0 10px 0;
}
header .user-dropdown-line {
  border: 1px solid black;
}
header .user-dropdown-menu {
  border: 1px solid black;
  width: 185px;
  position: absolute;
  right: 50px;
  text-align: center;
  background-color: #b9c1c7;
}
header .user-dropdown {
  z-index: 10;
}
header .user-dropdown .user-icon {
  cursor: pointer;
}
header .hide {
  display: none;
}
header .hamburger {
  display: block;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  top: 50%;
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  top: 50%;
  transform: translateY(-7px) rotate(-45deg);
}
.hamburger.active .bar {
  background-color: white;
}
header .nav-menu {
  position: fixed;
  left: -100%;
  gap: 0;
  font-size: 30px;
  top: 0px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  flex-direction: column;
  z-index: 50;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
header .nav-menu a {
  color: white;
}
header .hamburger {
  z-index: 99;
}
header .nav-item {
  margin: 16px 0;
}
header .nav-menu.active {
  left: 0;
}
header .user-nav {
  display: flex;
}
header .pray-for-ukraine {
  padding-top: 50px;
  display: block;
}
header .social-media-icons {
  display: flex;
  padding-top: 50px;
}
header .social-media-icons a {
  padding: 15px;
}
header .new-user-nav-menu {
  display: flex;
}
header .new-user-nav-menu li {
  margin: 0 5px 0 10px;
}
header .new-user-nav-menu .nav-link {
  background-color: #b9c1c7;
  padding: 8px 20px;
}
.new-user-home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}
.new-user-home-page img {
  width: 80px;
  height: 80px;
}
.new-user-home-page h2 {
  width: 300px;
  margin-bottom: 40px;
  font-size: 28px;
}
.new-user-home-page p {
  font-family: "Klee One", sans-serif;
  margin-bottom: 60px;
  width: 300px;
  font-size: 20px;
}
.new-user-home-page .categories-icons {
  margin-bottom: 80px;
}
footer {
  display: none;
}

@media (min-width: 768px) {
  header .nav-menu {
    background-color: unset;
    backdrop-filter: unset;
  }
  header .nav-menu a {
    color: black;
  }
  header .company-title {
    font-size: 35px;
  }
  .company-title img {
    width: 50px;
    height: 50px;
  }
  header .user-dropdown-menu {
    border: 1px solid black;
    width: 350px;
    position: absolute;
    right: 50px;
    text-align: center;
    background-color: #b9c1c7;
    font-size: 25px;
  }
  header .user-dropdown-menu a {
    padding: 20px 0 20px 0;
  }
  .nav-link:hover {
    font-weight: bold;
  }
  .nav-link:target {
    font-weight: bold;
  }
  .new-user-nav-menu .nav-link {
    padding: 20px 25px;
  }
  .new-user-nav-menu .nav-item {
    margin-left: 20px;
  }
  .new-user-header {
    font-size: 30px;
  }
  .new-user-home-page {
    margin-top: 70px;
  }
  .new-user-home-page p {
    width: 600px;
    font-size: 40px;
    margin: 30px 0 50px 0;
  }
  .new-user-home-page h2 {
    width: 100%;
    font-size: 40px;
  }
  .new-user-home-page img {
    width: 140px;
    height: 140px;
  }
  .new-user-home-page h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .new-user-home-page .categories-icons {
    margin-bottom: 30px;
  }
  .main-header-page .hamburger {
    display: none;
  }
  .main-header-page .nav-menu {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    position: relative;
    margin-right: 10px;
    z-index: 0;
    transition: none;
  }
  .main-header-page .user-dropdown img {
    width: 35px;
    height: 35px;
  }
  .main-header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header-page .nav-menu .nav-item {
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .main-header-page .nav-menu img {
    display: none;
  }
  .main-header-page .social-media-icons {
    display: none;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-social-medias a {
    margin: 0 10px 0 10px;
  }
  footer .footer-social-medias {
    align-self: flex-end;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p:first {
    text-transform: lo;
  }
}

@media (min-width: 1280px) {
  .new-user-home-page {
    margin: 0;
    margin-top: 35px;
  }
  .new-user-home-page h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
  }
  .new-user-home-page p {
    font-size: 25px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .new-user-home-page img {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .new-user-home-page h3 {
    font-size: 30px;
    margin: 0;
  }
  header .user-icon {
    margin-left: 100px;
  }
}
