@import url(wallet.css);

body {
    height: 10px;
}
/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
table{
    width: 100%;
}
.tabula{
    width: auto;
    margin-right: 0px;
    margin-left: auto;
}
.field {clear:both; text-align:right;}