@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Klee+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Anek Latin", sans-serif;
}
.recovery-password-page {
background-image: url("../static/img/login_&_register-page-background.png");
background-position: center;
background-attachment: fixed;
background-size:cover;
padding: 10px;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.company-title {
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: bold;
text-decoration: none;
color: black;
}
.company-title img {
padding: 0 2px 0 2px;  
}
.login-user-page {
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 200px;
font-size: 10px;
width: 250px;
}
.login-user-page button {
background-color: #A5ADB4;
padding: 10px 0px 10px 0px;
border: none;
width: 100%;
}
.submit-recover-button {
    margin-top: 20px;
}
.recovery-field {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 15px;
    border-bottom: 2px solid #697483;
}
.recovery-field input {
    height: 30px;
    width: 300px;
    background: none;
    border: none;
    color: white;
}
.recovery-field input::placeholder {
    color: black;
    opacity: 50%;
}
.recovery-field input:focus {
    outline: none;
}
.recovery-field img {
    width: 10px;
    height: 12px;
    margin-right: 5px;
}
@media (min-width: 768px) {
    .recovery-password-page .company-title {
        font-size: 50px;
    }
    .recovery-password-page .company-title img {
        width: 60px;
        height: 60px;
    }
    .login-user-page {
        font-size: 20px;
        width: 500px;
        margin-top: 350px;
    }
    .submit-recover-button {
        padding: 20px 0 20px 0;
        font-size: 30px;
    }
    .recovery-field input {
        font-size: 30px;
        width: 500px;
        height: 50px;
    }
    .recovery-field img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

@media (min-width: 1280px) {
    .login-user-page {
        margin-top: 150px;
    }
}