@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Klee+One&display=swap');
.money-in-wallet {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.in-your-wallet {
    padding: 10px 0 10px 0;
}
#currency {
    background: none;
    border: none;
    font-size: 30px;
}
#currency-value {
    background: none;
    border: none;
}
.wallet-page {
    padding-top: 60px;
}
.delete-button {
    background: none;
    border: none;
}
.wallet-history {
    font-family: "Klee One";
}
.wallet-history-title, .wallet-history-description {
    text-align: center;
}
.wallet-history-title {
    font-size: medium;
    font-weight: bold;
}
td {
    padding: 0 5px 0 5px;
}
.wallet-upper-line {
    margin-bottom: 35px;
    width: 100%;
    height: 1.5px;
    display: flex;
    justify-content: center;
    background-color: black;
    border: black;
}