{% extends "index.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form class="user-home-page" action="/home" method="get">
        <div class="user-home-page-title">
            <h1>Articles for managing your finance</h1>
        </div>
        <div class="user-home-page-scroll">
            <div class="home-page-topics">
                <a href="https://www.fscb.com/blog/7-money-management-tips-to-improve-your-finances">
                    <h2>7 Tips to Improve Your Finances</h2>
                    <img src="../static/img/Article1.png" alt="">
                </a>
            </div>
            <hr class="article-underline">
            <div class="home-page-topics">
                <a href="https://www.egypttoday.com/Article/6/116100/5-Books-That-Will-Help-You-Manage-Your-Money-Better">
                    <h2>5 Books to Manage Your Money</h2>
                    <img src="../static/img/Article2.png" alt="">
                </a>
            </div>
            <hr class="article-underline">
            <div class="home-page-topics">
                <a href="https://hbr.org/2021/06/5-easy-ways-to-take-control-of-your-personal-finances">
                    <h2>Control Your Life</h2>
                    <img src="../static/img/Article3.jpg" alt="">
                </a>
            </div>
            <hr class="article-underline">
            <div class="home-page-topics">
                <a href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/ways-to-save-money">
                    <h2>Save Your Money in Right Way</h2>
                    <img src="../static/img/Article4.png" alt="">
                </a>
            </div>
            <hr class="article-underline">
        </div>
    </form>
{% endblock %}