<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/index.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/img/title-icon.svg">
        <link rel="stylesheet" href="login.html">
        <!-- <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
                    {% if session["user_id"] %}
                    <header class="main-header-page">
                        <a class="company-title" href="/home">My<img class="company-logo" src="../static/img/title-icon.svg" alt="coin">Coin</a>
                        <nav class="navbar">
                        <ul class="nav-menu">
                            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/wallet">Wallet</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cashflow">Cashflow</a></li>
                            <li class="nav-item"><a class="nav-link" href="/statistics">Statistics</a></li>
                            <img class="pray-for-ukraine" src="../static/img/pray-for-ukraine-icon.svg" alt="pray-for-ukraine-image">
                            <li class="social-media-icons">
                            <a href="#"><img src="../static/img/instagram-icon.svg" alt="instagram-icon"></a>
                            <a href="#"><img src="../static/img/twitter-icon.svg" alt="twitter-icon"></a>
                            <a href="#"><img src="../static/img/facebook-icon.svg" alt="facebook-icon"></a>
                            </li>
                        </ul>
                        <!-- <ul class="nav-menu">
                            <li class="nav-item"><a class="nav-link">{{name}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul> -->
                        
                    </nav>
                    <div class="user-nav">
                        <div class="user-dropdown">
                                <img class="user-icon" src="../static/img/user-icon.svg" alt="user icon">
                            <div class="user-dropdown-menu hide">
                                <a class="nav-link">{{name}}</a>
                                <hr class="user-dropdown-line">
                                <a class="nav-link" href="/settings">Settings</a>
                                <a class="nav-link" href="/logout">Log Out</a>
                            </div>
                         </div>
                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                    </div>
                </header> 
                    {% else %}
                    <header class="new-user-header">
                    
                        <a class="company-title" href="/">My<img class="company-logo" src="../static/img/title-icon.svg" alt="coin">Coin</a>
                        <div>
                        <ul class="new-user-nav-menu">
                            <li class="nav-item"><a href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                        </ul>
                    </div>
                </header>
                
                    {% endif %}
                    

     
                 
                {% with messages = get_flashed_messages(with_categories = True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
            {% block main %}{% endblock %}
            
            <footer class="new-user-home-footer">
                <div class="footer-social-medias">
                    <a href="#"><img src="../static/img/instagram-icon.svg" alt="instagram-icon"></a>
                    <a href="#"><img src="../static/img/twitter-icon.svg" alt="twitter-icon"></a>
                    <a href="#"><img src="../static/img/facebook-icon.svg" alt="facebook-icon"></a>
                </div>
                <div>
                    <img src="../static/img/pray-for-ukraine-icon.svg" alt="pray-for-ukraine-image">
                </div>
            </footer>
        <script src="../static/js/theme-switcher"></script>
        <script src="../static/js/burger-menu.js"></script>
        <script src="../static/js/user-dropdown-menu.js"></script>
        <script src="../static/js/theme-swap.js"></script>
    </body>
    
</html>