<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbar">
        {% if session["user_id"] %}
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/Home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/Wallet">Wallet</a></li>
                <li class="nav-item"><a class="nav-link" href="/Cashflow">Cashflow</a></li>
                <li class="nav-item"><a class="nav-link" href="/Statistics">Statistics</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}
    </div>
    <main class="container-fluid py-5 text-center">
        {% block main %}{% endblock %}
    </main>
</body>
</html>