<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/index.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/img/title-icon.svg">
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        
        <header>
            <a class="company-title" href="/home">My<img class="company-logo" src="../static/img/title-icon.svg" alt="coin">Coin</a>
            <nav class="navbar">
                    {% if session["user_id"] %}
                        <ul class="nav-menu">
                            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/wallet">Wallet</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cashflow">Cashflow</a></li>
                            <li class="nav-item"><a class="nav-link" href="/statistics">Statistics</a></li>
                            <img class="pray-for-ukraine" src="../static/img/pray-for-ukraine-icon.svg" alt="pray-for-ukraine-image">
                            <li class="social-media-icons">
                            <a href="#"><img src="../static/img/instagram-icon.svg" alt="instagram-icon"></a>
                            <a href="#"><img src="../static/img/twitter-icon.svg" alt="twitter-icon"></a>
                            <a href="#"><img src="../static/img/facebook-icon.svg" alt="facebook-icon"></a>
                            </li>
                        </ul>
                        <!-- <ul class="nav-menu">
                            <li class="nav-item"><a class="nav-link">{{name}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul> -->
                    {% else %}
                        <ul class="nav-menu">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                    
            </nav>
            <div class="user-nav">
            <img class="user-icon" src="../static/img/user-icon.svg" alt="user icon">
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
            </div>
        </header>          
        </nav>
        <main class="container-fluid py-5 text-center">
            <div class="col-md-10"></div>
                {% with messages = get_flashed_messages(with_categories = True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% block main %}{% endblock %}
        </main>

            <main class="hidden-main">
                {% block main %}{% endblock %}
            </main>
        
        <footer></footer>
        <script src="../static/js/burger-menu.js"></script>
    </body>

</html>