{% extends "index.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="">
            <input autocomplete="off" autofocus class="" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="">
            <input class="" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="">
            <label class="" for="flexCheckDefault">
            <input class="" type="checkbox" value="me" name = "remember" checked>
              Remember me
            </label>
        </div>
        <button class="" type="submit">Log In</button>
        <h6><a href="http://127.0.0.1:5000/recovery_password">Forgot your password?</a></h6>
    </form>
{% endblock %}
