<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="../static/login.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/img/title-icon.svg">
        <title>MyCoin</title>
    </head>

    <body class="new-user-login-page">
        <header>
            <div class="company-header">
                <a class="company-title" href="/">My<img class="company-logo" src="../static/img/title-icon.svg" alt="coin">Coin</a>
            </div>
        </header>    
    
        <form class="login-user-page" action="/login" method="post">
            <div class="register-page-view">
                <h1 class="register-title">MyCoin - track your money with easy to use digital wallet</h1>
                <hr class="register-horizontal-page">
            </div>
            <div class="register-input-page">
                <div class="login-fields">
                    <img src="../static/img/Email-icon.svg" alt="">
                    <input autocomplete="off" id="username" name="username" placeholder="Email" type="text">
                </div>
                <div class="login-fields">
                    <img src="../static/img/password-icon.svg" alt="">
                    <input class="" id="password" name="password" placeholder="Password" type="password">
                </div>        
                <div class="login-remember-input">
                    <div class="remember-me-checkbox">
                        <input class="" type="checkbox" value="me" name = "remember" checked>
                        <p>Remember me</p>
                    </div>
                    <div class="forgot-password">
                        <a href="/recovery_password">Forgot password?</a>
                    </div>
                </div>
                <div class="login-register-link">
                    <div>
                        <p class="dont-have-account">Don't have an account yet?</p>
                    </div>
                    <div>
                        <a href="/register">Register now</a>
                    </div>
                </div>
                <div class="login-button">
                    <button type="submit">Log In</button>
                </div>
            </div>
        </form>
    </body>
</html>

