{% extends "index.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-check">
            <label class="form-check-label" for="flexCheckDefault">
            <input class="form-check-input" type="checkbox" value="me" name = "remember" checked>
              Remember me
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
        <h6><a href="http://127.0.0.1:5000/recovery_password">Forgot your password?</a></h6>
    </form>
{% endblock %}
