{% extends "index.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/" method="get" class="new-user-home-page">             
        <h2>MyСoin - manage your financial problems</h2>
        <p>Track your cashflow in different currencies, categories; 
        <br>monitor statistics and history</p>
    <div>
        <img src="../static/img/Category1.svg" alt="">
        <img src="../static/img/Category2.svg" alt="">
        <img src="../static/img/Category3.svg" alt="">
    </div>
    <div class="categories-icons">
        <img src="../static/img/Category4.svg" alt="">
        <img src="../static/img/Category5.svg" alt="">
    </div>
        <h3>Use everywhere at anytime</h3>
    </form>

{% endblock %}