<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="../static/recovery-password.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/img/title-icon.svg">
        <title>MyCoin</title>
    </head>

    <body class="recovery-password-page">

        <header>
            <div class="company-header">
                <a class="company-title" href="/">My<img class="company-logo" src="../static/img/title-icon.svg" alt="coin">Coin</a>
            </div>
        </header>    
    
        <form class="login-user-page" action="/login" method="post">
            <div>
                <form action="/recovery_password" method="post">
                    <div class="recovery-field">
                        <img src="../static/img/Email-icon.svg" alt="">
                        <input autocomplete="off" autofocus id="email" name="email" placeholder="Enter your email here" type="text">
                    </div>
                    <button class="submit-recover-button" type="submit">Submit</button>
                </form>
            </div>
        </form>
    </body>
</html>