{% extends "index.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <form class="settings-page" action="/settings" method="post">
        <h2>Settings</h2>
        <hr class="settings-horizontal-line">
        <h3>Change password</h3>
        <div class="forgot-password-field">
            <input class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old Password" type="password">
        </div>
        <div class="forgot-password-field">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New password" type="password">
        </div>
        <div class="forgot-password-field">
            <input class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <hr class="settings-horizontal-line">
        <h3>Choose theme</h3>
        <div class="theme-select">
            <button id="city" type="button">Default</button>
            <button id="dark" type="button">Bubble gum</button>
            <button id="pastel" type="button">Pastel</button>
        </div>
    </form>
{% endblock %}
