{% extends "index.html" %}

{% block title %}
    Statistics
{% endblock %}

{% block main %}
    <form action="/statistics" method="get">
        <div class="col-xs-10 col-sm-6 col-md-6">
                <div class="card-body">
                    <div class="col-md-6" style="display:inline-block">
                        <div class="topleft" style="text-align:center; float:left;">
                            <div class="chart-container" style="position: relative;">
                                <canvas id="income" width="320" height="320"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-10 col-sm-6 col-md-6">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="expense"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% block javascript %}
        <script>
            let income_chart = new Chart(income, {
                    type: 'pie',
                    data: {
                    labels:['salary', 'other'],
                        datasets: [{
                            label: "Statistics of income",
                            data: [{{salary}},{{other}}],
                            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                                '#B276B2', '#E16851', '#FB8267'],
        
                            borderWidth: 1,
                            hoverBorderColor: "black",
                            hoverBorderWidth: 2,
                            hoverBackgroundColor: 'rgba(154, 245, 140)',
                            pointHoverRadius: 5
                        }],
                    },
                    options: {
                            title: {
                                display: true,
                                    text: "Statistics of income",
                                        fontSize: 20,
                            },
                            legend: {
                                position: "right",
                                    labels: {
                                    fontColor: "gray"
                                },
                                display: true,
                            },
        
                            elements: {
                                hitRadius: 3,
                            }
                    }
                })
                let expense_chart = new Chart(expense, {
                    type: 'pie',
                    data: {
                    labels:['entertainment', 'grocery','health', 'transport','cafe', 'householding','others'],
                        datasets: [{
                            label: "Statistics of expense",
                            data: [{{entertainment}},{{grocery}},{{health}},{{transport}},{{cafe}},{{householding}},{{others}}],
                            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                                '#B276B2', '#E16851', '#FB8267', '#14A4B5'],
        
                            borderWidth: 1,
                            hoverBorderColor: "black",
                            hoverBorderWidth: 2,
                            hoverBackgroundColor: 'rgba(154, 245, 140)',
                            pointHoverRadius: 5
                        }],
                    },
                    options: {
                            title: {
                                display: true,
                                    text: "Statistics of expense",
                                        fontSize: 20,
                            },
                            legend: {
                                position: "right",
                                    labels: {
                                    fontColor: "gray"
                                },
                                display: true,
                            },
        
                            elements: {
                                hitRadius: 3,
                            }
                    }
                })
        </script>
        {% endblock%}
    </form>

{% endblock %}