{% extends "index.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
    <form action="/wallet" method="get">
        <table id="tabula" class="table table-dark table-sm" >
            <tr>
                <td>Count</td>
                <td>Currency</td>
                <td>Category</td>
                <td>Date</td>
                <td>Delete</td>
            </tr>
            {% for my_coin in my_coin %}
                <tr>
                    <td>{{my_coin["count"]}}</td>
                    <td>{{my_coin["currency"]}}</td>
                    <td>{{my_coin["category"]}}</td>
                    <td>{{my_coin["daytime"]}}</td>
                    <td><button class="btn btn-primary" id = "{{my_coin["daytime"]}}" name = "{{my_coin["daytime"]}}" type="submit">Submit</button></td>
                </tr>
            {% endfor %}
    </form>
{% endblock %}