{% extends "index.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
    <form class="wallet-page" action="/wallet" method="post">
        <div class="money-in-wallet">
            <label class="in-your-wallet">In your wallet:{{money}}<br></label>
                <h4>Your cash_eur:{{cash_eur}}</h4>
                <h4>Your cash_usd:{{cash_usd}}</h4>
                <h4>Your cash_uah:{{cash_uah}}</h4>
                <h4>Your uah_income:{{uah_income}}</h4>
                <h4>Your usd_income:{{usd_income}}</h4>
                <h4>Your eur_income:{{eur_income}}</h4>
                <h4>Your uah_expence:{{uah_expence}}</h4>
                <h4>Your usd_expence:{{usd_expence}}</h4>
                <h4>Your eur_expence:{{eur_expence}}</h4>
                <select name="currency" id="currency">
                <option id="currency-value" value="UAH">UAH</option>
                <option id="currency-value" value="USD">USD</option>
                <option id="currency-value" value="EUR">EUR</option>
                </select>
                <button type="submit">Enter</button>
        </div>
    </form> 
    <form class="wallet-page" action="/wallet" method="get">
        <hr class="wallet-upper-line">
        <table id="tabula" class="table table-dark table-sm" >
            <tr class="wallet-history-title">
                <td>Amount</td>
                <td>Currency</td>
                <td>Category</td>
                <td>Date</td>
                <td></td>
            </tr>
            {% for coin in my_coin %}
                {% if coin["type"] == 'expense' %}
                <tr class="wallet-history-description">
                    <td class="wallet-history">{{coin["count"]}}</td>
                    <td class="wallet-history">{{coin["currency"]}}</td>
                    <td class="wallet-history">{{coin["category"]}}</td>
                    <td class="wallet-history">{{coin["strftime('%d.%m.%Y',daytime)"]}}</td>
                    <td class="wallet-history"><a href="{{ url_for('delete', deleted_id = coin["id"]) }}"</a><img class="trash-icon" src="../static/img/trash-icon.svg" alt="delete button"></button></td>
                </tr>
                {% else %}
                <tr class="wallet-history-description">
                    <td class="wallet-history">{{coin["count"]}}</td>
                    <td class="wallet-history">{{coin["currency"]}}</td>
                    <td class="wallet-history">{{coin["category"]}}</td>
                    <td class="wallet-history">{{coin["strftime('%d.%m.%Y',daytime)"]}}</td>
                    <td class="wallet-history"><a href="{{ url_for('delete', deleted_id = coin["id"]) }}"</a><img class="trash-icon" src="../static/img/trash-icon.svg" alt="delete button"></button></td>
                </tr>
                {% endif %}
                
            {% endfor %}
            
    </form>
{% endblock %}

