{% extends "index.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
    <form action="/wallet" method="get">
        <table id="tabula" class="table table-dark table-sm" >
            <tr>
                <td>Count</td>
                <td>Currency</td>
                <td>Category</td>
                <td>Date</td>
                <td>Delete</td>
            </tr>
            {% for coin in my_coin %}
                <tr>
                    <td>{{coin["count"]}}</td>
                    <td>{{coin["currency"]}}</td>
                    <td>{{coin["category"]}}</td>
                    <td>{{coin["strftime('%d.%m.%Y',daytime)"]}}</td>
                    <td><a href="{{ url_for('delete', deleted_id = coin["id"]) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                </tr>
            {% endfor %}
    </form>
{% endblock %}